@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* transition: all .42s; */
}
html{
    scroll-behavior: smooth;
}
/* body{
 transition: all .42s;
} */

p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px ;
    box-shadow: 0 5px 20px rgba(0,0, 0, 0.05);
}

header.sticky .logo{
    color: #000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
}

header .logo span{
    color: #ff0157;
}

.nav-list {
    position: relative;
    display: flex;
}
.nav-list li{
    margin-left :30px;
}

.nav-list li a{
    color: #fff;
    font-weight: 300;
}

.nav-list li a:hover{
    color: #ff0157;
}

header.sticky .nav-list li a{
    color: #111;
}
header.sticky .nav-list li a:hover{
    color: #ff0157;
}

.banner{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: #fff;
}

.banner .content p{
    font-size: 1em;
    color: #fff;
}

.btn{
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover{
    transform: scale(1.1);
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col-50{
    position: relative;
    width: 40%; 
}

.title-text{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.title-text span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col-50 .ImgBX{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col-50 .ImgBX img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0, 0, 0.08);
}

.menu .content .box .ImgBX{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .ImgBX img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu .content .box .ImgBX img:hover{
    transform: translateY(-10%);
}

.menu .content .box .text{
    padding: 15px 0 5px;
}

.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
}

.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box{
    width: 250px;
    margin: 15px;
}

.expert .content .box .ImgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .ImgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.expert .content .box .ImgBx img:hover{
    transform: scale(1.1);
}
.expert .content .box .text{
    padding: 15px 0 5px;
}

.expert .content .box .text h3{
    color: #111;
    font-weight: 400;
}

.testimonial{
    background: url(images/bg2.jpg);
    background-size: cover;
}

.white .title-text,
.white p
{
    color: #fff;
}

.testimonial .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonial .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform .5s ease;
}
.testimonial .content .box:hover{
    transform: scale(1.1);
}

.testimonial .content .box .ImgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .content .box .ImgBx img{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.testimonial .content .box .text{
    text-align: center;
}

.testimonial .content .box .text p{
    color: #666;
    font-style: italic;
}

.testimonial .content .box .text h3{
    margin-top: 20px;
    color: #ff0157;
    font-size: 1em; 
    font-weight: 600;
}


.contact {
    background: url(images/bg3.jpg);
    background-size: cover;
    background-position: center;
}

.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBx{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBx input,
.contactForm .inputBx textarea{
    width: 100%;
    border: 1px solid #555;
    padding:10px;
    color: #111;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBx input[type ="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.copyrightText{
    padding: 8px 40px;
    border-top:1px solid rgba(0,0, 0, 0.1) ;
    text-align: center;

}

@media (max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .nav-list{
        display: none;
    }
    
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active{
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }
    header .nav-list.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .nav-list li{
        margin-left: 0;
    }

    header .nav-list li a{
        font-size: 1.6em;
        color: #111;
    }
    section{
        padding: 20px;
    }

    .banner .content h2{
        font-size: 3em;
    }

    .row{
        flex-direction: column;
    }

    .row .col-50{
        position: relative;
        width: 100%;
    }
    
    .row .col-50 .ImgBX{
        height: 300px;
        margin-top: 20px;
    }

    .menu .content{
        margin-top: 20px;
    }

    .menu .content .box{
        margin: 10px;
    }

    .title{
        text-align: center;
    }

    .title-text{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
    }

    .testimonial .content .box{
        margin: 10px;
        padding: 20px;
    }

    .contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width:480px){
    .banner .content h2{
        font-size: 2.2em;
    }
}